@model IEnumerable<RecipeSite.Models.Ingredient>

@{
    ViewData["Title"] = "Довідник інгредієнтів";
}

<h1 class="mb-4">Всі інгредієнти</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Додати новий інгредієнт</a>
</p>

<table class="table table-bordered table-hover mt-3">
    <thead class="table-dark">
        <tr>
            <th>Назва продукту</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr><td class="text-center">Список порожній. Додайте щось!</td></tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                </tr>
            }
        }
    </tbody>
</table>